<header class="page-header unprintable"
    role="banner">
    <h1 class="project-name"
        {% if page.title == 'LittleRatura'  %}style="font-family: Brush Script MT, cursive;"
        {% endif %}>
        {% if page.title == 'LittleRatura' %}
        {% endif %}
        {{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">
        {{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

    <a href="/index.html"
        class="btn logo-btn">LittleRatura<span class="icon">🏠</span></a></li>
    {% for item in site.data.siteList.docs %}
    <a href="{{ item.url }}"
        class="btn btn-info">{{ item.title }}</a></li>
    {% endfor %}
</header>