.logo-font {
  font-family: Brush Script MT, cursive;
}
.logo-btn {
  @extend .logo-font;
  font-size: 2em;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.icon {
  font-size: 1em;
}
.btn-dark {
  color: rgba(116, 120, 123, 0.7) !important;
  background-color: rgba(255, 255, 255, 0.67) !important;
  border-color: rgba(116, 120, 123, 0.7) !important;
  text-align: center;
  &:hover {
    color: rgb(23, 23, 23) !important;
    text-decoration: none;
    background-color: rgba(230, 230, 230, 0.67) !important;
    border-color: rgb(23, 23, 23) !important;
  }
}

.post-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer {
  display: flex;
  align-items: center;
}

@media all and (max-width: 675px) {
  .post-nav {
    flex-direction: column;
  }
  // .post-nav-text {
  //   display: none;
  // }
}

@media print {
  header,
  footer,
  .post-nav,
  .wip {
    display: none;
  }
}
