.logo-btn {
  font-family: Brush Script MT, cursive;
  font-size: 2em;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.post-nav {
  display: flex;
  justify-content: space-between;
}
